<div class="search-field parallax-effect">

  <!-- container text -->
  <div class="container">
  <div class="valign-wrapper">
  <div class="card-panel z-depth-3">
    <h5 class="valign">Hello and welcome, start your search for an awesome board game to play!</h5>
  </div>
  </div>
  </div>

</div>
