<div class="search-field parallax-effect">
    <div class="container welcome">
        <div class="valign-wrapper">
            <h5 class="valign">Hello and welcome, start your search for an awesome board game to play!</h5>
        </div>
    </div>
</div>
