<div class="search-field parallax-effect">

  <!-- container text -->
  <div class="container">
  <div class="valign-wrapper">
  <div class="card-panel z-depth-3">
    <h5 class="valign">Time to play some board games!</h5>
    <p>Start searching for some awesome games near you.</p>
    <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="search">Search </i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
  </div>
  </div>
  </div>

</div>
