<div class="search-field parallax-effect" align="center">

    <!-- container text -->
    <div class="container valign-wrapper">
        <div class="card-panel z-depth-3">
            <h5 class="valign">Time to play some board games!</h5>
            <p>Start searching for some awesome games near you.</p>
            <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
            <%= submit_tag "Search" %>
            <% end %>
        </div>
    </div>

    <!-- Listings (want to be the 3 most recent) -->
