<div class="search-field parallax-effect" align="center">
    <div class="container valign-wrapper">
        <div class="card-panel z-depth-3">
            <%= render @profile %>
        </div>
    </div>

    <div class="card">
      Hello, this is the box for lists of listings
    </div>
    <div class="card">
      Box for the list of bookings
    </div>
</div>
