<div class="search-field parallax-effect" align="center">
    <div class="container valign-wrapper">
        <div class="card-panel z-depth-3">
            <%= render @profile %>
        </div>
    </div>
    <div class="container">
        <div class="card-panel">
            Hello, this is the box for lists of listings
        </div>
        <div class="card-panel">
            Box for the list of bookings
        </div>
    </div>
</div>
